<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
</head>
<body>
   <H1>HOPELINK DONATIONS</H1>
  <h2>Donor Registration</h2>
  <form action="#" method="post">
    <label for="name">Full Name:</label><br>
    <input type="text" id="name" name="name" placeholder="Enter your full name" required>
    <br><br>

    <label for="phone">Phone Number:</label><br>
    <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" required>
    <br><br>

    <label for="email">Email Address:</label><br>
    <input type="email" id="email" name="email" placeholder="Enter your email" required>
    <br><br>

    <label for="age">Age:</label><br>
    <input type="number" id="age" name="age" placeholder="Enter your age" min="1" required>
    <br><br>

    
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" placeholder="Enter new password" min="1" required>
    <br><br>

    <button type="submit">Register</button>

  </form>
  <p>Already have an account?<a href="login.html">Log in</a></p>
</body>
</html>
